.row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .tqc {
      margin-top: 10%;
    }

    .tac {
        margin-top: 4%;
      }

    .products{
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }